.truncate_text
{
    text-overflow: ellipsis !important; /*Adds the ... for overflowing label*/
    overflow: hidden !important; /*Hide overflowing texts in label*/
    white-space: nowrap !important; /*Prevents labels like "ZZZZ ZZZZ ZZZZ" from making additional lines*/
}

.wrap_text
{
    overflow-wrap: break-word !important;
}

.hide_scrollbar
{
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar
    {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}

.navbar-item.has-dropdown.is-hoverable .navbar-link::after
{
    border-color: #beaa56;
}

.hero-body
{
    background: no-repeat right;
    background-size: contain;
    /*background-origin: content-box;*/
}

.hero
{
    position: relative;
}

.search-bar
{
    position: absolute;
    width: 50vw;
    top: 0;
    left: 25%;
}

.search-bar-background-text-input
{
    border: none;
    background-color: #E7BA40;
    position: absolute;
    top: 0;
    left: 0;
}

.search-bar-inner-wrapper
{
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    align-items: center;
    z-index: 1;
}

.search-bar-inner-text-input
{
    border: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.search-bar-tag
{
    /*transition: all 1s;*/
    opacity: 1;
    transition: opacity 2s linear;
}

.search-bar-inner-text-input:focus
{
    outline: none !important;
    box-shadow: none !important;
}

.search-bar-dropdown-wrapper
{
    position: relative;
}

.search-bar-dropdown
{
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    background-color: #c99a0b;
}

.search-bar-dropdown-item
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (min-width: 1025px)
{
    .search-bar
    {
        z-index: 30;
    }

    .search-bar-background-text-input
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        /*font-size: 16px;*/
        /*height: 50px;*/
    }

    .search-bar-background-text-input.dropdown-visible
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 1024px)
{
    .search-bar
    {
        z-index: 29;
        top: unset;
        bottom: 0;
    }

    .search-bar-background-text-input
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.hidden
{
    display: none !important;
    opacity: 0 !important;
}
