.truncate_text
{
    text-overflow: ellipsis !important; /*Adds the ... for overflowing label*/
    overflow: hidden !important; /*Hide overflowing texts in label*/
    white-space: nowrap !important; /*Prevents labels like "ZZZZ ZZZZ ZZZZ" from making additional lines*/
}

.wrap_text
{
    overflow-wrap: break-word !important;
}

.navbar-item.has-dropdown.is-hoverable .navbar-link::after
{
    border-color: #beaa56;
}