.truncate_text
{
    text-overflow: ellipsis !important; /*Adds the ... for overflowing label*/
    overflow: hidden !important; /*Hide overflowing texts in label*/
    white-space: nowrap !important; /*Prevents labels like "ZZZZ ZZZZ ZZZZ" from making additional lines*/
}